* {
    margin:0px;
    padding:0px;
}
.clear {
    clear: both;
}

body {
    background-color: #eee;
}
a {
    text-decoration:none;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.choose {
    width: 150px;
    height: 50px;
    position: fixed;
    top: 100px;
    left: 50px;
    color: black;
}
.teacher,.school {
    margin: 0 auto;
    margin-top: 150px;
}
.teacher {
    width: 990px;
}
.school {
    width: 380px;
}
table {
    border:2px solid #ccc;
}
table tr {
    height:50px;
    line-height:50px;
    background-color: white;
}
table tr:nth-child(1) {
    background-color:#aaced0
}
table td {
    width: 120px;
    text-align: center;
    border: 2px solid #ccc;
    text-align: center;
}
.teacher table tr>td:nth-child(4) {
    width:220px;
}
input {
    width: 90px;
    height: 30px;
    border-radius: 6px;
    font-family: BrandonTextWeb-Medium;
    color: #4990c6;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    cursor: pointer;
    margin-top: 10px;
    float: right;
    margin-left: 5px;
}
input.createText {
    width: 90%;
    border: none;
    outline:none;
    cursor: auto;
    text-align: center;
    background-color: white;
    color: #aaced0;
}
.disabled {
    color: #ccc;
    pointer-events: none;
 }
